
/* .box1{
    display: inline-block;
    border: 2px none #FFE6E8;
    width:1000px;
    height: 350px;
    position: relative;
    top: 50px;
    left: 0px;
    background-color:#C4C4C429;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  #myInput{
    border: 1px solid #c0c0c0;
    position: relative;
    top: 30px;
    left: 0px;
    height: 30px;
    width: 770px;
   background-color: white;
   font-family: sans-serif;
   font-size: 13px;
   border-radius: 5px;
  }
  
  .btn{
    border: 1px solid white;
    position: relative;
    height: 35px;
    width: 200px;
    top: 0px;
    left: 0px;
    background-color: #0000FF;
    display: block;
    margin-left:800px ;
    margin-right:auto;
    border-radius: 5px;
  }
  
  .box2{
  display: inline-block;
  border: 1px solid #c0c0c0;
  position: relative;
  width: 1000px;
  height: 280px;
  top: 40px;
  left: 0px;
  background-color: white;
  border-radius: 5px;
  }
  
  .box3{
    display: inline-block;
    border: 1px solid #c0c0c0;
    position: relative;
    width: 998px;
    height: 75px;
  }
  .btn:hover {
    background-color: lightblue;
  }
  
  .type1{
    height: 35px;
  }
  
  .body{
      background-color: #c0c0c0;
  }  */





  .box1{
    display: inline-block;
    border: 2px none #FFE6E8;
    width:1000px;
    height: 350px;
    position: relative;
    top: 50px;
    left: 0px;
    background-color:#C4C4C429;
    display: block;
    margin-left: auto;
    margin-right: auto;
        
  }

  #myinput{
    border: 1px solid #c0c0c0;
    position: relative;
    top: 30px;
    left: 0px;
    height: 30px;
    width: 770px;
   background-color: white;
   font-family: sans-serif;
   font-size: 13px;
   border-radius: 5px;
  }

  .btn{
    border: 1px solid white;
    position: relative;
    height: 35px;
    width: 200px;
    top: 0px;
    left: 0px;
    background-color: #0000FF;
    display: block;
    margin-left:800px ;
    margin-right:auto;
    border-radius: 5px;
  }

  .box2{
    display: inline-block;
    border: 1px solid #c0c0c0;
    position: relative;
    width: 1000px;
    height: 280px;
    top: 40px;
    left: 0px;
    background-color: white;
    border-radius: 5px;
    }
    
    .box3{
      display: inline-block;
      border: 1px solid #c0c0c0;
      position: relative;
      width: 998px;
      height: 75px;
    }

  .remove{
    /* margin-left:600px;
    color: red; */
    float: right;
    color: red;
  }


